<div>
  <div class="section-guide">
    <h2>Câu chuyện</h2>
    <p>
      Kể cho mọi người câu chuyện đằng sau dự án của bạn, những điều thôi thúc bạn thực hiện dự án này, những khó khăn và thách thức bạn gặp phải.
    </p>
  </div>

  <button type="button" ng-click="showCreatePost()" class="btn btn-lg btn-info" toggle="modal">Tạo câu chuyện</button>
  <div class="story-posts">
    <div ng-repeat="post in posts" class="post">

      <a href="javascript:void(0);" ng-click="deletePost(post, $index)" class="btn btn-danger pull-right"><i class="fa fa-times"></i></a>
      <a class="btn btn-info pull-right" ng-click="setPost(post, $index)"><i class="fa fa-pencil"></i></a>
      <h3 ng-bind="post.title"></h3>

      <div class="image-container">
        <img ng-src="{{post.imageUrl}}" ng-title="{{post.title}}" />
      </div>
      <p ng-bind="post.body"></p>
    </div>
  </div>


</div>

