<div>
  <div class="section-guide">
    <h2>Phần thưởng</h2>
    <p>
      Khi tham gia đóng góp cho dự án, sẽ tuyệt vời hơn nếu người góp vốn nhận lại được một điều gì đó. Bạn có thể tri ân họ bằng những phần thưởng, những món quà. Hãy thể hiện sự sáng tạo của bạn
    </p>
  </div>
  <button type="button" ng-click="showCreateReward()" class="btn btn-lg btn-info" toggle="modal">Tạo phần thưởng</button>
  <div class="row">
    <div class="rewards">
      <div ng-repeat="reward in rewards | orderBy: minimumPledgeAmount" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="reward">
          <a class="btn btn-danger pull-right" ng-click="deleteReward(reward, $index)"><i class="fa fa-times"></i></a>
          <a class="btn btn-info pull-right" ng-click="setReward(reward, $index)"><i class="fa fa-pencil"></i></a>
          <h3><b ng-bind="reward.minimumPledgeAmount | money" ng-currency></b></h3>
          <p ng-bind="reward.description"></p>
        </div>
      </div>
    </div>
  </div>

</div>

