<div class="title-block clearfix">
  <h3 class="h3-body-title">Hãy kể câu chuyện kinh doanh của bạn</h3>

  <div class="title-seperator"></div>
</div>

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

    <%= button_tag "Thêm câu chuyện", class: 'btn btn-info add_story', data: { toggle: "modal", target: "#add-story-post" } %>

  </div>
</div>

