<%= form_for([@project, @project.rewards.build]) do |f| %>
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

        <div class="row" id='reward-form'>
          <div class='form-element'>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <label>Phần thưởng 1</label>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 reward">
              <div class="add-new-reward">
                <div class="keep-or-delete js-unless_has_backers">
                  <a class="delete" style="" title="Delete this reward">
                    <span class="fa fa-times"></span>
                    Xóa
                  </a>
                </div>
                <div class="minimum-amount">
                  <label for="">Khoản góp tối thiểu</label>
                  <input type="text"/>
                </div>

                <div class="description">
                  <label for="">Mô tả</label>
                  <textarea></textarea>

                  <div></div>
                </div>

                <div class="limit">
                  <label for="">Giới hạn số lượng</label>
                </div>
              </div>
            </div>

          </div>

        </div>
        <button type="button" id='add-reward' class="btn btn-success">Thêm phần thưởng mới</button>


      </div>
    </div>

<% end %>