<div class="title-block clearfix">
  <h3 class="h3-body-title">Đôi điều về bản thân bạn</h3>

  <div class="title-seperator"></div>
</div>

<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

    <div class="row">
      <div class='form-element'>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <label>Ảnh đại diện</label>
        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <input type="file" name="" class='file-button' value="" placeholder="Ảnh chính của dự án.">
        </div>
      </div>

      <div class='form-element'>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <label>Họ và tên</label>
        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title="">
        </div>
      </div>

      <div class='form-element'>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <label>Đôi điều về bản thân</label>
        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <textarea id='short-des' class="form-control ckeditor" name=""></textarea>
        </div>
      </div>

      <div class='form-element'>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <label>Địa chỉ facebook</label>
        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title="" placeholder="Địa chỉ">
        </div>
      </div>


    </div>

  </div>

</div>
