<div class="row">
  <div class="col-xs-9 col-sm-9 col-md-8 col-lg-8">

    <div class="row">


      <div class='form-element'>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          Email
        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title="">
          <br>
          <span><button type="button" class="btn btn-primary">Gửi email xác nhận</button></span>
        </div>
      </div>

      <div class='form-element'>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          Số điện thoại
        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title="">
          <br>
          <span><button type="button" class="btn btn-primary">Gửi tin nhắn xác nhận
          </button></span>
        </div>
      </div>
    </div>
  </div>
</div>