@font-face {
    font-family: "Antenna Cond Black";
    src: url(../fonts/AntennaCondBlack/66594866-86f8-4855-b363-3fb1fe03fed3-2-24ec9f718e0ac6c952ddbd40c830cf96.eot);
    src: url(../fonts/AntennaCondBlack/66594866-86f8-4855-b363-3fb1fe03fed3-2.eot?) format("embedded-opentype"), url(../fonts/AntennaCondBlack/66594866-86f8-4855-b363-3fb1fe03fed3-3-7382133ab63f0351753fd8abf002e8cb.woff) format("woff"), url(../fonts/AntennaCondBlack/66594866-86f8-4855-b363-3fb1fe03fed3-1-f810b9fe304486af466492641cba3a80.ttf) format("truetype"), url(../fonts/AntennaCondBlack/66594866-86f8-4855-b363-3fb1fe03fed3-4.svg#web) format("svg");
    font-style: normal;
    font-weight: normal;
}