@media (max-width: 767px) {

    .container {
        padding-right: 20px;
        padding-left: 20px;
    }

    .body-wrapper [class*="col-md"], .body-wrapper [class*="col-sm"], .body-wrapper [class*="col-lg"]
    .section-content [class*="col-md"], .section-content [class*="col-sm"], .section-content [class*="col-lg"],

    .body-wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .section-content.no-padding {
        padding-bottom: 0;
    }

    .h1-page-title {
        float: none;
    }

    .h2-page-desc {
        float: none;
        border-left: none;
        padding-left: 0px;
    }

    .breadcrumb-container {
        position: relative;
    }

    .blog-post-details-item {
        width: 100%;
    }

    .blog-post-details-separator {
        display: none;
    }

    .blog-post.row-fluid .blog-span {
        width: 86.2%;
        margin-left: 55px;
    }

    .content-box.content-style4 {
        margin: 20px 0 0 0;
    }

    .content-box.content-style4:first-child {
        margin: 0px 0 0 0;
    }

    .content-box3 {
        margin-top: 20px;
    }

    .content-box3:first-child {
        margin-top: 0px;
    }
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {

    .title-block .title-seperator {
        background-image: url("../images/divider-stripe5%402x.png");
        background-size: 5px 10px;
    }

    .accordion .open-icon {
        background: no-repeat -26px -165px url("../images/sprites%402x.png");
        background-size: 162px 229px;
    }

    .accordion .close-icon {
        background: no-repeat -26px -215px url("../images/sprites%402x.png");
        background-size: 162px 229px;
    }

    .post-type-sound {
        background: no-repeat -1px -2px url("../images/sprites%402x.png");
        background-size: 162px 229px;
    }

    .post-type-video-icon {
        background: no-repeat -5px -64px url("../images/sprites%402x.png");
        background-size: 162px 229px;
    }

    .post-type-post-icon {
        background: no-repeat 0 -132px url("../images/sprites%402x.png");
        background-size: 162px 229px;
    }

    .post-type-link-icon {
        background: no-repeat 0 -168px url("../images/sprites%402x.png");
        background-size: 162px 229px;
    }

    .post-type-quote-icon {
        background: no-repeat 0 -212px url("../images/sprites%402x.png");
        background-size: 162px 229px;
    }

    .post-type-gallery-icon {
        background: no-repeat 0 -32px url("../images/sprites%402x.png");
        background-size: 162px 229px;
    }

    .divider.divider-shadow {
        background-image: url("../images/divider-shadow%402x.png");
        background-size: 940px 20px;
    }

    .divider.stripe-1 {
        background-image: url("../images/divider-stripe1%402x.png");
        background-size: 12px 10px;
    }

    .divider.stripe-2 {
        background-image: url("../images/divider-stripe2%402x.png");
        background-size: 12px 10px;
    }

    .divider.stripe-3 {
        background-image: url("../images/divider-stripe3%402x.png");
        background-size: 9px 10px;
    }

    .divider.stripe-4 {
        background-image: url("../images/divider-stripe4%402x.png");
        background-size: 8px 10px;
    }

    .divider.stripe-5 {
        background-image: url("../images/divider-stripe5%402x.png");
        background-size: 5px 10px;
    }

    .footer .footer-col .footer-content .footer-recent-tweets li:after {
        background: no-repeat -98px -1px url("../images/sprites%402x.png");
        background-size: 162px 229px;
    }
}

@media only screen and (max-width: 959px) {

    .cycle-slideshow {
        height: auto !important;
    }

    .cycle-slideshow img {
        width: 100%;
    }
}

@media only screen and (orientation: portrait) and (device-width: 320px), (device-width: 768px) {

    .section-content, .section-content.section-image::after {
        background-attachment: scroll !important;
    }
}

@media only screen and (orientation: landscape) and (device-width: 320px), (device-width: 768px) {

    .section-content, .section-content.section-image::after {
        background-attachment: scroll !important;
    }
}

@media (max-width: 480px) {

    .blog-post.row-fluid .blog-span {
        width: 82%;
        margin-left: 55px;
    }

}

@media screen and (max-width: 900px) {

    .grid li {
        width: 50%;
    }
}

@media screen and (max-width: 400px) {

    .grid li {
        width: 100%;
    }
}

@media (min-width: 1070px) {

    .boxed .container {
        width: 1030px;
    }
}

@media (max-width: 959px) {

    .boxed {
        width: auto !important;
    }

    ul.section-clients li, ul.bottom-body-clients li, ul.clients-list li {
        float: none;
        display: block;
        margin: 0 auto;
    }

    ul.section-clients li:last-child, ul.bottom-body-clients li:last-child, ul.clients-list li:last-child {
        margin: 0 auto;
    }

    .banner, .rev-slider-full {
        height: auto;
    }

    li.tab {
        display: block;
        float: none;
        border-left: 1px solid #e8e8e8;
    }

    .tab a {
        font-size: 12px;
        display: block;
        padding: 15px 20px;
        color: #9b9b9b;
        position: relative;
        font-weight: 500;
        border-bottom: none;
        text-align: center;
    }

    .testimonial-big .testimonial-big-img {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 979px) {

    #contact-form .row-fluid [class*="span"] {
        margin-left: 0;
        width: 100%;
    }
}

@media (min-width: 980px) and (max-width: 1200px) {

    .content-box.content-style4 h4 {
        margin: 10px 0 !important;
    }

    .content-box.content-style4 {
        height: 125px;
    }

    .flickr_badge_wrapper .flickr_badge_image:nth-child(3n+1) {
        margin: 0 6px 6px 0;
    }

    .flickr_badge_wrapper .flickr_badge_image {
        width: 64px;
        height: 64px;
    }
}

@media (max-width: 979px) and (min-width: 768px) {

    .content-box.content-style4 h4 {
        margin: 22px 0 !important;
    }

    .content-box.content-style4 {
        height: 145px;
    }

    .footer .copyright .row-fluid [class*="span"] {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media (max-width: 992px) {

    .top-bar {
        height: auto !important;
    }

    .top-bar .row-fluid .span8,
    .top-bar .row-fluid .span4 {
        width: auto !important;
        margin: 0 !important;
        display: inline-block;
    }

    .top-bar .row-fluid .span8 {
        float: right;
    }

    .top-bar .row-fluid .span4 {
        float: left;
    }

    .row-fluid .span10,
    .row-fluid .span2 {
        width: 100%;
        margin-left: 0;
    }

    .header:after {
        background-image: none;
    }

    .sticky-header {
        overflow: auto;
    }

}

@media (max-width: 960px) {

    .section-etabs-container {
        height: auto;
    }
}

@media (max-width: 479px) {

    .tp-rightarrow,
    .tp-leftarrow {
        display: none;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

    .loading-fallback {
        display: none !important;
    }

    .loading {
        display: block !important;
    }
}

@media (max-width: 980px) {

    .sticky-header .header .logo {
        margin: 16px 0;
        float: left;
    }

    .sticky-header .header .span10 {
        min-height: 0;
        margin: 0;
    }

    .section-tab-arrow {
        display: none;
    }
}

