<%= page_title "Chỉnh sửa thông tin cá nhân" %>
<%= body_id "profile_edit" %>

<div class="content-wrapper hide-until-loading">
  <div class="body-wrapper">
    <div>
      <div class="profile-overview">
        <div class="container">

        </div>
      </div>
    </div>
  </div>
</div>