<%= page_title @user.name %>
<%= body_id "profile_show" %>

<div class="content-wrapper">
  <div class="body-wrapper">
    <div>
      <div class="profile-header">
        <div class="container">
          <div class="profile-user-info clearfix">
            <div class="image-container pull-left">
              <%= image_tag @user.image.url(:small), width: 120, height: 120 %>
            </div>
            <h1><%= @user.name %></h1>
          </div>
        </div>
      </div>
      <div>

      </div>
    </div>
  </div>
</div>