<header id="header" class='menu'>
  <div class="container">

    <div class="row header">

      <div class="col-xs-2 logo">
        <a href="home-version1.html">
          <img src="/images/main_logo.png" alt="Logo"/>
        </a>
      </div>

      <div class="col-md-10">

        <!-- Mobile Button Menu -->
        <div class="mobile-menu-button">
          <i class="fa fa-list-ul"></i>
        </div>
        <!-- //Mobile Button Menu// -->
        <nav>
          <ul class="navigation">
            <li>
              <a href="/projects/new">Tạo dự án</a>
            </li>
            <li>
              <a href="/users/sign_in">Góp vốn</a>
            </li>

            <li>

            </li>
          </ul>

          <ul class="navigation pull-right">
            <li>
              <a href="/users/sign_up">Đăng ký</a>
            </li>
            <li>
              <a href="/users/sign_in">Đăng nhập</a>
            </li>

            <li>

            </li>
          </ul>

        </nav>

        <!-- Mobile Nav. Container -->
        <ul class="mobile-nav">
          <li class="responsive-searchbox">
            <!-- Responsive Nave -->
            <form action="#" method="get">
              <input type="text" class="searchbox-inputtext" id="searchbox-inputtext-mobile" name="s"/>
              <button class="icon-search"></button>
            </form>
            <!-- //Responsive Nave// -->
          </li>
        </ul>
        <!-- //Mobile Nav. Container// -->
      </div>
      <!-- Nav -->

    </div>


  </div>
</header>