<header id="header" class='menu'>
  <div class="container">

    <div class="row header">

      <div class="col-xs-2 logo">
        <a href="/">
          <img src="/images/main_logo.png" alt="Logo"/>
        </a>
      </div>

      <div class="col-md-10">

        <div class="mobile-menu-button">
          <i class="fa fa-list-ul"></i>
        </div>

        <nav>
          <ul class="navigation">
            <li>
              <a href="/projects/new">Tạo dự án</a>
            </li>
            <li>
              <a href="/discover">Góp vốn</a>
            </li>
          </ul>

          <ul class="navigation pull-right">
            <% if (!user_signed_in?) %>
                <li>
                  <a href="/users/sign_up">Đăng ký</a>
                </li>
                <li>
                  <a href="/users/sign_in">Đăng nhập</a>
                </li>
            <% else %>

            <% end %>
          </ul>

          <ul class="user-navigation">
            <% if (@current_user) %>
                <%= hidden_field_tag :user_name, @current_user.name %>
                <%= hidden_field_tag :user_image_url, @current_user.image.url %>
            <% end %>
          </ul>
        </nav>

        <ul class="mobile-nav">
          <li class="responsive-searchbox">
            <form action="#" method="get">
              <input type="text" class="searchbox-inputtext" id="searchbox-inputtext-mobile" name="s"/>
              <button class="icon-search"></button>
            </form>
          </li>
        </ul>
      </div>

    </div>


  </div>
</header>