<div class="content-wrapper hide-until-loading">

 <div class="space-sep40"></div>

  <div class="body-wrapper">
	
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-sm-8">
                                <div class="contact-body">
                                    <h3 class="h3-body-title">
                                        Đôi điều về VNSTARTER
                                    </h3>
                                    <p class="body_paragraph contact-paragraph">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                                    </p>

                                  <div class="video-container">
                    <iframe src="https://player.vimeo.com/video/59056788?title=0&byline=0&portrait=0&badge=0" width="100%" height="530" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-md-offset-1 col-sm-offset-1">
                                <div class="sidebar">


                                    <div class="sidebar-block">
                                        <h3 class="h3-sidebar-title">
                                            Liên hệ
                                        </h3>
                                        <div class="sidebar-icon-item">
                                            <i class="icon-phone"></i> (+1) 777-444-333
                                        </div>
                                        <div class="sidebar-icon-item">
                                            <i class="icon-email"></i> email@company.com
                                        </div>
                                        <div class="sidebar-icon-item">
                                            <i class="icon-home"></i> Address in City, P.O BOX 1111, Country
                                        </div>
                                    </div>

                                    <div class="sidebar-block">
                                       
                                        <p>
                                            <strong>Address: </strong>Address in City, P.O BOX 1111
                                            <br />
                                            <strong>Phone:</strong> +777-444-333
                                            <br />
                                            <strong>Email: </strong>email@company.com
                                        </p>
                                    </div>
                                    <div class="sidebar-block">
                                        <h3 class="h3-sidebar-title">
                                            Mạng xã hội
                                        </h3>


                                        <div class="social-icons">

                                            <ul>
                                                <li>
                                                    <a href="#" title="paypal" target="_blank" class="social-media-icon paypal-icon">paypal</a>
                                                </li>
                                                <li>
                                                    <a href="#" title="googleplus" target="_blank" class="social-media-icon googleplus-icon">googleplus</a>
                                                </li>
                                                <li>
                                                    <a href="#" title="reddit" target="_blank" class="social-media-icon reddit-icon">reddit</a>
                                                </li>
                                                <li>
                                                    <a href="#" title="flickr" target="_blank" class="social-media-icon flickr-icon">flickr</a>
                                                </li>
                                                <li>
                                                    <a href="#" title="youtube" target="_blank" class="social-media-icon youtube-icon">youtube</a>
                                                </li>
                                                <li>
                                                    <a href="#" title="soundcloud" target="_blank" class="social-media-icon soundcloud-icon">soundcloud</a>
                                                </li>
                                                <li>
                                                    <a href="#" title="facebook" target="_blank" class="social-media-icon facebook-icon">facebook</a>
                                                </li>
                                                <li>
                                                    <a href="#" title="lastfm" target="_blank" class="social-media-icon lastfm-icon">lastfm</a>
                                                </li>

                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
  </div>

</div>
