<% page_title "Vnstarter" %>
<% body_id "home" %>
<div class="body-wrapper">
  <div class="content-wrapper">

    <%= render "home/shared/slider" %>
    <%= render "home/shared/index_featured_projects" %>
    <%= render "home/shared/index_why_vnstarter" %>
  </div>
</div>
