<% page_title "Vnstarter" %>
<% body_id "home" %>
<% body_attributes "data-spy=scroll data-target=#home_nav" %>
<div class="body-wrapper">
  <div class="content-wrapper">
    <div class="jumbotron slider">
      <div class="slide cool-gradient lazy slick-slide" style="width: 1903px; position: relative; left: -1903px; top: 0px; z-index: 800; opacity: 0; display: table; overflow: hidden; background-image: url(https://cdn.crowdrise.com/library/foundation/img/jumbotron/girl-water.jpg);background-size:100%;" index="1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
        <div class="text">
          <div class="row">
            <div class="column large-12 large-centered">
              <h2>Mang ước mơ của bạn ra thế giới</h2>
              <h4>Raise money for over 1.5 million charities including Red Cross, UNICEF, SU2C, and more</h4>
              <a href="/home/about" class="border-button primary on-dark">Về chúng tôi</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hide-until-loading">
      <div class="sticky-nav">
        <nav id="home_nav">
          <ul class="sub-nav nav">
            <li class="hidden"><a href="#top"></a></li>
            <li>
              <a href="#featured_projects" class="smoothScroll">Dự án nổi bật</a></li>
            <li>
              <a href="#why" class="smoothScroll">Vì sao chọn Vnstarter</a></li>
          </ul>
        </nav>
      </div>
      <div id="top"></div>
      <%= render "home/shared/index_featured_projects" %>
      <%= render "home/shared/index_why_vnstarter" %>
    </div>
  </div>

</div>

