<% page_title "Vnstarter" %>
<% body_id "home" %>
<% body_attributes "data-spy=scroll data-target=#home_nav" %>
<div class="body-wrapper">
  <div class="content-wrapper">
    <div class="slider">
      <div class="slide lazy slick-slide" style="background-image: url(/images/slider/slider-bg-1.jpg); background-size: cover;" index="1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
        <div class="caption">
          <h2>Mang ước mơ của bạn ra thế giới</h2>
          <h4>Raise money for over 1.5 million charities including Red Cross, UNICEF, SU2C</h4>
          <a href="/home/about" class="btn btn-lg btn-default">Tìm hiểu thêm</a>
          <a href="/projects/new" class="btn btn-lg btn-primary">Huy động vốn ngay</a>
        </div>
      </div>
    </div>

    <div class="hide-until-loading">
      <div class="sticky-nav">
        <nav id="home_nav">
          <ul class="sub-nav nav">
            <li class="hidden"><a href="#top"></a></li>
            <li>
              <a href="#featured_projects" class="smoothScroll">Dự án nổi bật</a></li>
            <li>
              <a href="#why" class="smoothScroll">Vì sao chọn Vnstarter</a></li>
          </ul>
        </nav>
      </div>
      <div id="top"></div>
      <%= render "home/shared/index_featured_projects" %>
      <%= render "home/shared/index_why_vnstarter" %>
    </div>
  </div>

</div>

