<div class="content-wrapper hide-until-loading">
    <div class="body-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 animated" data-animtype="fadeInUp"
                data-animrepeat="0"
                data-speed="1s"
                data-delay="0.4s">
                   <div class="space-sep20"></div>
                <h2 class="h2-section-title">Về chúng tôi</h2>
                <div class="i-section-title">
                    <i class="icon-feather">

                    </i>
                </div>
            </div>
        </div>

        <div class="space-sep20"></div>

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="title-block clearfix">
                    <h3 class="h3-body-title">Tại sao chọn chúng tôi</h3>
                    <div class="title-seperator"></div>
                </div>                <p>
                Kanzi là một cộng đồng sôi động của những người làm việc với nhau để mang lại những điều mới cho cuộc sống .
            </p>
            <p>
                Bạn bè , người hâm mộ, và lấy cảm hứng từ những người xa lạ đã cam kết góp vốn trên kanzi , tài trợ cho tất cả mọi thứ . Ghóp phần đem ước mơ của bạn đến với cộng đồng

            </p>
        </div>

        <div class="col-md-6 col-sm-6">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <a type="button" href="/projects/new" class="btn btn-lg btn-primary">Tạo dự án</a>
                </div>
                <div class="col-md-4 col-sm-4">
                 <a type="button" href="/discover" class="btn btn-lg btn-primary">Đầu tư</a>      
             </div>

         </div>


     </div>               

 </div>
</div>
</div>

</div>
