<div>
  <ul class="messages">
    <% @received_messages.each do |message| %>
        <li class="message">
          <div class="message-content">
            <div class="user-avatar">
              <%= image_tag (message.sender.image.url(:small)), class: "circle", height: "80" %>
            </div>
            <div class="message-details">
              <div>
                <span class="user-name"><%= message.sender.name %></span>
                <span class="comment-date pull-right">cách đây <%= time_ago_in_words(message.created_at) %></span>
              </div>
              <div class="message-body">
                <%= message.body %>
              </div>
            </div>
          </div>
        </li>
    <% end %>
  </ul>
</div>