<section id="categories">
  <div class="container">
    <h2 class="section-title">
      Các lĩnh vực
    </h2>
    <ul class="categories">
      <% @categories.each do |category| %>
        <li class="category">
                    <i class="<%= category.icon_class %>"></i>
                    <%= category.name %>
        </li>
      <% end %>
    </ul>
  </div>

</section>


<section id="why_vnstarter">
  <div class="container">
    <h1>Vì sao nên tham gia VnStarter?</h1>

    <p>Our model, technology, and team of in-house experts make us the most trusted platform in the crowdfunding
      industry. We leverage all the tools in our power to amplify campaigns, so you can raise maximum awareness—and
      funds.</p>
  </div>
</section>