<div class="fullwidthbanner-container">
  <div class="fullwidthbanner rslider">
    <ul>
      <!-- THE FIRST SLIDE -->
      <li data-transition="fade" data-slotamount="7" data-masterspeed="500"  data-saveperformance="on">
        <img src="/images/slider/slider-bg-1.jpg"  alt="Pixma" data-lazyload="/images/slider/slider-bg-1.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

        <div class="caption modern_big_bluebg h1 lft tp-caption start"
             data-x="40"
             data-y="85"
             data-speed="700"
             data-endspeed="800"
             data-start="1000"
             data-easing="easeOutQuint"
             data-endeasing="easeOutQuint">
          <h3>MANG ƯỚC MƠ CỦA BẠN RA THẾ GIỚI</h3>
        </div>
        <div class="caption list_slide lfb tp-caption start"
             data-easing="easeOutExpo"
             data-start="1400"
             data-speed="1050"
             data-y="180"
             data-x="40">
          <div class="list-slide">
            <h5 class="dblue"> 10 predefined color skins </h5>
          </div>
        </div>
        <div class="caption list_slide lfb tp-caption start"
             data-easing="easeOutExpo"
             data-start="1800"
             data-speed="1200"
             data-y="220"
             data-x="40">
          <div class="list-slide">
            <h5 class="dblue"> SEO optimized template files </h5>
          </div>
        </div>
        <div class="caption list_slide lfb tp-caption start"
             data-easing="easeOutExpo"
             data-start="2200"
             data-speed="1350"
             data-y="260"
             data-x="40">
          <div class="list-slide">
            <h5 class="dblue"> Working Ajax Contact Form </h5>
          </div>
        </div>
        <div class="caption lfb caption_button_1 fadeout tp-caption start"
             data-x="40"
             data-y="330"
             data-speed="900"
             data-endspeed="300"
             data-start="2700"
             data-hoffset="-70"
             data-easing="easeOutExpo">
          <a class="btn btn-x-lg btn-default" href="/home/about">Tìm hiểu thêm</a>
        </div>
        <div class="caption lfb caption_button_2 fadeout tp-caption start"
             data-x="245"
             data-y="330"
             data-speed="800"
             data-endspeed="300"
             data-start="2900"
             data-hoffset="70"
             data-easing="easeOutExpo">
          <a class="btn btn-x-lg btn-primary" href="/projects/new">Huy động vốn ngay</a>
        </div>
      </li>

      <li data-transition="fade" data-slotamount="7" data-masterspeed="500"  data-saveperformance="on">
        <img src="/images/slider/slider-bg-1.jpg"  alt="Pixma" data-lazyload="/images/slider/slider-bg-1.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

        <div class="caption modern_big_bluebg h1 lft tp-caption start"
             data-x="40"
             data-y="85"
             data-speed="700"
             data-endspeed="800"
             data-start="1000"
             data-easing="easeOutQuint"
             data-endeasing="easeOutQuint">
          <h3>MANG ƯỚC MƠ CỦA BẠN RA THẾ GIỚI</h3>
        </div>
        <div class="caption list_slide lfb tp-caption start"
             data-easing="easeOutExpo"
             data-start="1400"
             data-speed="1050"
             data-y="180"
             data-x="40">
          <div class="list-slide">
            <h5 class="dblue"> 10 predefined color skins </h5>
          </div>
        </div>
        <div class="caption list_slide lfb tp-caption start"
             data-easing="easeOutExpo"
             data-start="1800"
             data-speed="1200"
             data-y="220"
             data-x="40">
          <div class="list-slide">
            <h5 class="dblue"> SEO optimized template files </h5>
          </div>
        </div>
        <div class="caption list_slide lfb tp-caption start"
             data-easing="easeOutExpo"
             data-start="2200"
             data-speed="1350"
             data-y="260"
             data-x="40">
          <div class="list-slide">
            <h5 class="dblue"> Working Ajax Contact Form </h5>
          </div>
        </div>
        <div class="caption lfb caption_button_1 fadeout tp-caption start"
             data-x="40"
             data-y="330"
             data-speed="900"
             data-endspeed="300"
             data-start="2700"
             data-hoffset="-70"
             data-easing="easeOutExpo">
          <a class="btn btn-x-lg btn-default" href="/home/about">Tìm hiểu thêm</a>
        </div>
        <div class="caption lfb caption_button_2 fadeout tp-caption start"
             data-x="245"
             data-y="330"
             data-speed="800"
             data-endspeed="300"
             data-start="2900"
             data-hoffset="70"
             data-easing="easeOutExpo">
          <a class="btn btn-x-lg btn-primary" href="/projects/new">Huy động vốn ngay</a>
        </div>
      </li>
    </ul>
  </div>
</div>