/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require bootstrap3-datetimepicker
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

ul, ol {
    list-style-type: none;
}

textarea {
    resize: none;
    text-align: justify;
}

#header {
    min-height: 80px;
    background-color: #252C34;
    box-shadow: 0 3px 3px -3px rgba(0,0,0,0.2);
}

#header .logo {
    height: 74px;
}

#header .logo h1 {
    margin: 10px 0;
}

/*** Default Menu Style ***/
.menu > ul {
    margin:0;
    padding:0;
    list-style:none;
}

.menu > ul > li {
    position:relative
}

.menu > ul > li {
    float:left;
}

.menu > ul > li:hover > ul {
    display:block;
}

.menu > ul > li > a {
    display: block;
    position: relative;
    padding: 30px 18px 30px 18px;
}

.menu > ul > li {
    float: left;
}

.menu > ul > li > a {

}

.menu > ul a {
    text-decoration:none;
}
.menu > ul > li > a {
    color:#fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    overflow:hidden;
    border-bottom:3px solid transparent;
}

.menu > ul > li >a:hover {
    color:#fff;
}

.menu > ul > li > a:hover {
    color:#fff;
}

.menu > ul > li > a:hover,
.menu > ul > li:hover > a {
    background-color:#323B44;
    border-bottom: 3px solid #2eaef0;
}

.user-menu > li.has-user > a {
    color: #279fbb;
    border-right: 1px solid #252C34;
}

.user-menu > li.has-user > a.active {
    border-bottom-color: #252C34;
    background: #252C34;
}

.user-menu > li.has-user > a.active:hover {
    background: #252C34;
}

.user-menu > li.has-user > a {
    padding-top: 24px;
    padding-bottom: 24px;
}

.user-menu > li > a img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.user-menu > li > a i {
    font-size: 14px;
    color: #fff;
}

.user-menu .user-dropdown {
    width: 500px;
    background-color: #252C34;
    position: absolute;
    right: 0;
    box-shadow: -2px 2px 2px rgba(0,0,0,0.05);
    z-index: 1000;
    display: none;
    border-bottom: 3px solid #2eaef0;
}

.user-menu .user-dropdown .user-options {
    padding: 20px;
}

.user-menu .user-dropdown .welcome {
    padding: 15px;
    color: #fff;
}

.user-menu .user-dropdown .user-options ul {
    padding: 0;
    margin: 0;
}

.user-menu .user-dropdown .user-options label {
    font-size: 14px;
    color: #fff;
}

.user-menu .user-dropdown .user-options ul.options li {
    font-size: 14px;
    margin: 10px 0;
}

.content-head {
    padding: 40px 0 20px 0;
}

.content-head h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 10px;
}

.bootstrap-datetimepicker-widget table td {
    height: 30px;
    line-height: 30px;
}

.bootstrap-datetimepicker-widget table td span {
    height: 30px;
    line-height: 30px;
}

.bootstrap-datetimepicker-widget table td.day {
    height: 30px;
    line-height: 30px;
    width: 40px;
}

.bootstrap-datetimepicker-widget table td.active {
    background-color: #279fbb;
}

.bootstrap-datetimepicker-widget .btn {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    height: auto;
}

h2.section-title {
  margin-bottom: 40px;
}

.project-card-list > h2 {

}

.project-card-list .project {
    background-color: #fff;
    border-radius: 5px;

    transition:all 0.5s;
}

.project-card-list .project:hover {

}

.project-card-list .project .feature-image img {
    border-radius: 5px 5px 0 0;
}

.project-card-list .project .feature-content {
    padding: 22px 15px 75px 15px;
}

.project-card-list .project .project-info {
    height: 150px;
    padding: 0;
}

.project-card-list .project .project-status {
    position: absolute;
    padding: 0 20px;
    padding-top: 70px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 26%);
    border-radius: 0 0 6px 6px;
    left: 0;
    bottom: 0;
    width: 100%;
}

.project-card-list .project .project-stats {
    margin-bottom: 0;
    margin-top: 5px;
    padding: 0;
    padding-bottom: 10px;
}

.project-card-list .project .project-stats li {
    display: inline-block;
    margin-right: 20px;
}

.project-card-list .project .project-stats-value {
    color: #0f2105;
    font-weight: bold;
}

.project-card-list .project .project-stats-label {

}

.project-card-list .project .project-title {
    font-family: "Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: none;
    color: #292929;
}

@media (max-width: 992px) {

    .project-card-list .project .feature-content {
        padding: 10px;
    }

    .project-card-list .project .project-info p,
    .project-card-list .project .project-status p {
        font-size: 12px;
    }

    .project-card-list .project .project-status {
        position: static;
        padding: 50px 0 0 0;
        font-size: 12px;
    }

    .project-card-list .project .project-stats li {
        margin-right: 8px;
    }
}

.body-wrapper a.btn,
.body-wrapper a.btn:hover {
    color: #fff;
}

footer {
    padding: 40px 0;
}

/* Utilities classes */

.alt-bg {
    background: #f7fafa;
}

.display-table {
    display: table;
    vertical-align: middle;
    width: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}
