/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require bootstrap3-datetimepicker
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

body, html,
button,
input,
select,
textarea {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
    color: #666666;
    margin: 0;
    font-size: 13px;
    line-height: 20px;
    background-color: white;
}

ul, ol {
    list-style-type: none;
}

textarea {
    resize: none;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
    margin: 0 0 20px 0;
    font-weight: 500;
    color: #4b4b4b;
}

#header .main-bar {
    min-height: 80px;
    background-color: #252C34;
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
}

#header .main-bar .logo {
    height: 74px;
}

#header .main-bar .logo h1 {
    margin: 10px 0;
}

#header .top-bar {
    min-height: 30px;
    background: #272727;
    border-bottom: 1px solid #414f5a;
    padding: 7px 0;
    line-height: 38px;
}

#header .top-bar .phone-email {
    padding: 3px 0;
}

#header .top-bar .phone-email a {
    margin-right: 20px;
    color: #fff;
}

#header .top-bar .phone-email i {
    margin-right: 7px;
}

#header .top-bar .social, footer .social {
    margin-right: 4px;
    line-height: 44px;
    margin-bottom: 0;
}

#header .top-bar .social li, footer .social li {
    background-color: transparent;
    border: 2px solid #fafafa;
    border-radius: 100% 100% 100% 100%;
    display: inline-block;
    height: 35px;
    margin-right: 5px;
    width: 35px;
    line-height: 30px;
    text-align: center;
    background: transparent;
    -webkit-transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    -o-transition: background .5s ease-in-out;
    -ms-transition: background .5s ease-in-out;
    transition: background .5s ease-in-out;
    padding: 1px;
    cursor: pointer;
}

#header .social li:hover, footer .social li:hover {
    background: #4C66A4;
}

#header .top-bar .social li a, footer .social li a {
    color: #fff;
}

/*** Default Menu Style ***/
.menu > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu > ul > li {
    position: relative
}

.menu > ul > li {
    float: left;
}

.menu > ul > li:hover > ul {
    display: block;
}

.menu > ul > li > a {
    display: block;
    position: relative;
    padding: 30px 18px 30px 18px;
}

.menu > ul > li {
    float: left;
}

.menu > ul > li > a {

}

.menu > ul a {
    text-decoration: none;
}

.menu > ul > li > a {
    color: #fff;
    font-family: "Open Sans", 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    border-bottom: 3px solid transparent;
}

.menu > ul > li > a:hover {
    color: #fff;
}

.menu > ul > li > a:hover {
    color: #fff;
}

.menu > ul > li > a:hover,
.menu > ul > li:hover > a {
    background-color: #323B44;
    border-bottom: 3px solid #2eaef0;
}

.user-menu > li.has-user > a {
    color: #279fbb;
    cursor: pointer;
    border-right: 1px solid #252C34;
}

.user-menu > li.has-user > a::before {
    content: "";
    display: none;
    position: absolute;
    top: 21%;
    left: 10%;
    width: 80%;
    height: 62%;
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}

.user-menu > li.has-user > a.active {
    border-bottom-color: #252C34;
    background: #252C34;
}

.user-menu > li.has-user > a.active:hover {
    background: #252C34;
}

.user-menu > li.has-user > a.active::before {
    display: block;
}

.user-menu > li.has-user > a {
    padding-top: 24px;
    padding-bottom: 24px;
}

.user-menu > li > a img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    position: relative;
}

.user-menu > li > a.active i {
    color: #279FBB;
    position: relative;
}

.user-menu > li > a i {
    font-size: 14px;
    color: #fff;
}

.user-menu .user-dropdown {
    width: 280px;
    background: #fff;
    position: absolute;
    right: 0;
    z-index: 1000;
    display: none;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 5px 5px 0 0;
    top: 64px;
}

.user-menu div.user-menu-header {
    border-bottom: 1px solid #bfbfbf;
    padding-left: 15px;
    height: 70px;
}

.user-menu div.user-menu-header h5 {
    color: #292929;
    font-size: 16px;
    line-height: 1;
    padding-top: 15px;
    margin: 0;
    font-weight: 700;
    display: block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-bottom: 4px;
    padding-right: 20px;
}

.user-menu .user-dropdown ul.options {
    padding: 0;
    margin: 0;
}

.user-menu .user-dropdown ul.options label {
    background: 0 0;
    font-size: 1.125rem;
    color: #292929;
    cursor: auto;
    display: block;
    font-weight: 400;
    line-height: 1.5;
    padding: 10px;
    display: block;
    border-top: none;
    border-bottom: 1px solid #bfbfbf;
    margin: 0;
}

.user-menu .user-dropdown ul.options label a {
    line-height: 1.4;
    padding: 10px;
    color: #666;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    height: auto;
}

.user-menu .user-dropdown ul.options label:hover a {
    color: #2eaef0;
}

.content-head {
    padding: 40px 0 20px 0;
}

.content-head h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 10px;
}

.content-head h6 {
    font-size: 14px;
    line-height: 20px;
}

.bootstrap-datetimepicker-widget table td {
    height: 30px;
    line-height: 30px;
}

.bootstrap-datetimepicker-widget table td span {
    height: 30px;
    line-height: 30px;
}

.bootstrap-datetimepicker-widget table td.day {
    height: 30px;
    line-height: 30px;
    width: 40px;
}

.bootstrap-datetimepicker-widget table td.active {
    background-color: #279fbb;
}

.bootstrap-datetimepicker-widget .btn {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    height: auto;
}

h2.section-title {
    margin-bottom: 40px;
    font-family: "Open Sans Condensed";
    font-weight: 700;
}

.project-card-list > h2 {
    font-family: "Open Sans Condensed";
    font-weight: 700;
}

.project-card-list .project {
    background-color: #fff;
    border-radius: 5px;

    transition: all 0.5s;
}

.project-card-list .project:hover {

}

.project-card-list .project .feature-image img {
    border-radius: 5px 5px 0 0;
}

.project-card-list .project .feature-content {
    padding: 22px 15px 75px 15px;
}

.project-card-list .project .project-info {
    height: 150px;
    padding: 0;
}

.project-card-list .project .project-status {
    position: absolute;
    padding: 0 20px;
    padding-top: 70px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 26%);
    border-radius: 0 0 6px 6px;
    left: 0;
    bottom: 0;
    width: 100%;
}

.project-card-list .project .project-stats {
    margin-bottom: 0;
    margin-top: 5px;
    padding: 0;
    padding-bottom: 10px;
}

.project-card-list .project .project-stats li {
    display: inline-block;
    margin-right: 20px;
}

.project-card-list .col-md-3 .project .project-stats li {
    margin-right: 10px;
}

.project-card-list .project .project-stats-value {
    color: #0f2105;
    font-weight: bold;
}

.project-card-list .project .project-stats-label {

}

.project-card-list .project .project-title {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: none;
    color: #292929;
}

@media (max-width: 992px) {

    .project-card-list .project .feature-content {
        padding: 10px;
    }

    .project-card-list .project .project-info p,
    .project-card-list .project .project-status p {
        font-size: 12px;
    }

    .project-card-list .project .project-status {
        position: static;
        padding: 50px 0 0 0;
        font-size: 12px;
    }

    .project-card-list .project .project-stats li {
        margin-right: 6px;
    }
}

/* Comments */
.comments,
.pledges {
    margin: 0 0 40px 0;
    padding: 10px;
}

.comments .comment,
.pledges .pledge {
    height: 90px;
}

.comments .user-avatar,
.pledges .user-avatar {
    float: left;
    width: 70px;
}

.comments .comment-details,
.pledges .pledge-details {
    padding-left: 90px;
}

.comments .comment-content,
.pledges .pledge-content {
    border-radius: 2px;
    overflow: hidden;
}

.comments .comment-date,
.pledges .pledge-date {
    font-size: 10px;
    color: #979797;
    font-style: italic;
    font-weight: normal;
}

.comments .user-name,
.comments .comment-date,
.pledges .user-name,
.pledges .pledge-date {
    font-weight: bold;
    display: block;

}

.comments .user-avatar img,
.pledges .user-avatar img {
    border: 1px solid #e2e2e2;
    width: 70px;
    height: 70px;
}

.comments .comment-body {
    margin-top: 5px;
}

.pledges .pledge-details {
    padding-top: 10px;
}

.pledges .pledge-details > div {
    display: inline-block;
}

.pledges .pledge-amount {
    display: inline-block;
    float: right;
    font-size: 18px;
    font-weight: bold;
}

.comments .comments-list {
    list-style: none;
    padding: 0;
}

.comment .comment-reply {
    position: absolute;
    right: 0;
    top: 0px;
    font-weight: normal;
    font-size: 11px;
}

/* Apply on 2nd level comments list */
.comments-list .children {
    padding-left: 45px;
    margin: 20px 0 0px 0;
}

.comments-list .comment {
    position: relative;
    margin: 0 0 20px 0;
}

.body-wrapper a.btn,
.body-wrapper a.btn:hover {
    color: #fff;
}

/****************************
Buttons
****************************/

.btn, input[type="submit"], input[type="button"], button.btn {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    position: relative;
    padding: 0px 11px;
    height: 33px;
    line-height: 33px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: background 0.2s, opacity 0.2s;
    -moz-transition: background 0.2s, opacity 0.2s;
    -o-transition: background 0.2s, opacity 0.2s;
    transition: background 0.2s, opacity 0.2s;
}

.btn-primary {
    background-color: #2eaef0;
    color: white;
}

.btn:hover, input[type="submit"]:hover, input[type="button"]:hover, button.btn:hover, .btn-primary:hover {
    text-decoration: none !important;
    opacity: 0.78;

}

.btn-primary:active {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
    background-color: #279fbb;
    opacity: 0.78;
}

.btn-primary:focus {
    outline: 0;
    background-color: #279fbb;
}

.btn i, input[type="submit"] i, input[type="button"] i, button.btn i, .btn-primary i {
    margin: 0 10px 0 0;
}

button.btn.btn-flat, .btn.btn-flat, .btn-flat {
    background-color: #279fbb;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

button.btn.btn-flat:hover, button.btn.btn-flat:active, .btn.btn-flat:hover, .btn.btn-flat:active, .btn-flat:hover, .btn-flat:active {
    background-color: #3b3b3b;
    background-color: #3b3b3b;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

button.btn.btn-flat:focus, .btn.btn-flat:focus, .btn-flat:focus {
    outline: 0;
    background-color: #3b3b3b;
}

button:focus {
    outline: 0;
}

button.btn-sm, .btn-sm {
    padding: 0 15px;
    height: 31px;
    line-height: 28px;
}

button.btn-lg, .btn-lg {
    padding: 0 30px;
    height: 49px;
    line-height: 49px;
}

button.btn.btn-outlined, .btn.btn-outlined {
    background-color: transparent;
    color: #000 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #000;
}

button.btn.btn-outlined:hover, button.btn.btn-outlined:active, button.btn.btn-outlined:focus, .btn.btn-outlined:hover, .btn.btn-outlined:active, .btn.btn-outlined:focus {
    text-shadow: none;
    background-color: #fff;
    color: #4b4b4b !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    opacity: 1;
}

button.btn.btn-default, .btn.btn-default {
    background-color: #efefef;
    border-color: #b5b5b5;
    color: #5b5b5b !important;
    text-shadow: white 0 1px 0;
}

button.btn.btn-default:hover, button.btn.btn-default:active, button.btn.btn-default:focus, .btn.btn-default:hover, .btn.btn-default:active, .btn.btn-default:focus {
    color: #5b5b5b !important;
    background-color: #f4f4f4;
    opacity: 1;
}

.btn.btn-red {
    background-color: #DD0000;
    border-color: #DD0000;
}

.btn.btn-red:hover, .btn.btn-red:active, .btn.btn-red:focus {
    background-color: #F33C3C;
    opacity: 1;
}

.btn.btn-green {
    background-color: #4aa215;
    border-color: #3d791a;
    color: #fff;
}

.btn.btn-green:hover, .btn.btn-green:active, .btn.btn-green:focus {
    background-color: #5ebb27;
    opacity: 1;
}

.btn.btn-blue {
    background-color: #0a79a2;
    border-color: #0f5069;
}

.btn.btn-blue:hover, .btn.btn-blue:active, .btn.btn-blue:focus {
    background-color: #1f9ac7;
    opacity: 1;
}

.btn.btn-yellow {
    background-color: #d1ad1f;
    border-color: #756318;
}

.btn.btn-yellow:hover, .btn.btn-yellow:active, .btn.btn-yellow:focus {
    background-color: #f7ce2a;
    opacity: 1;
}

.btn.btn-grey {
    color: #767676;
    outline: 0;
    white-space: nowrap;
    word-wrap: normal;
    cursor: pointer;
    background-color: #fff;
    text-shadow: none;
}

.btn.btn-lg {
    padding: 0 30px;
    height: 49px;
    line-height: 49px;
}

.btn.btn-x-lg {
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    padding: 0 40px;
}

.btn.btn-special {
    padding: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    outline: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    border-radius: 4px;
}

@media (max-width: 992px) {
    .btn.btn-x-lg {
        height: 50px;
        line-height: 50px;
    }
}

.page-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #fff;
    top: 0px;
    left: 0px;
    z-index: 99999;
}

.page-loader {
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    margin: 23% auto 0 auto;
    font-size: 12px;
}

.spinner {
    border-top-color: #2eaef0;
    border: 2px solid #eeeeee;
    font-size: 40px;
    width: 1em;
    height: 1em;
    border-radius: .5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: spin 1s linear infinite;

    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(39, 159, 187, 0.5);
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

footer .footer-top {
    padding: 50px 0;
    background: #252C34;
}

footer .footer-bottom {
    background: #272727;
    color: #888;
    line-height: 38px;
    padding: 15px;
}

/* Utilities classes */

.alt-bg {
    background: #F1F2F7;
}

.display-table {
    display: table;
    vertical-align: middle;
    width: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
}