/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require bootstrap3-datetimepicker
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

ul, ol {
    list-style-type: none;
}

#header {
    height: 68px;
    border-bottom: 1px solid #ddd;
}

.navigation {
    padding: 0 0 0 0;
    margin: 0;
    list-style-type: none;
}

.navigation > li {
    float: left;
    height: 68px;
    margin-right: 15px;
}

.navigation > li:last-child {
    margin-right: 0;
}

/* First Level Styling */
.navigation > li > a {
    color: #898989;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: 26px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 20px 10px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
}

.navigation > li:hover > a,
.navigation > li > a:hover {
    color: #279fbb;
    background-color: #f7fafa;
}

.navigation > li > a > span.label-nav {
    float: left;
    line-height: 20px;
    display: block;
    width: 100%;
    clear: both;
    margin: 25px 0 0 0;
}

.navigation > li > a > span.label-nav-sub {
    float: left;
    line-height: 20px;
    width: 100%;
    clear: both;
    font-size: 12px;
    color: #bcbcbc;
    display: inline-block;
    position: relative;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
    text-transform: capitalize;
}

.navigation > li > a > span.label-nav-sub::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    content: attr(data-hover);
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
    opacity: 0;
}

.navigation > li:hover > a > span.label-nav-sub,
.navigation > li:hover > a > span.label-nav-sub {
    -webkit-transform: rotateX(90deg) translateY(-22px);
    -moz-transform: rotateX(90deg) translateY(-22px);
    -ms-transform: rotateX(90deg) translateY(-22px);
    -o-transform: rotateX(90deg) translateY(-22px);
    transform: rotateX(90deg) translateY(-22px);
    -ms-transform: none;
}

.ie10 .navigation > li:hover > a > span.label-nav-sub,
.ie10 .navigation > li:hover > a > span.label-nav-sub {
    transform: none;
}

.navigation > li:hover > a > span.label-nav-sub::before, .navigation > li:hover > a > span.label-nav-sub::before {
    color: #279fbb;
    opacity: 1;
    opacity: 0 \9;
}

.navigation > li > .activelink span.label-nav-sub {
    color: #585858;
}

/* set all LI to relative */
.navigation li {
    position: relative;
}

.user-menu > li.has-user > a {
    color: #279fbb;
}

.user-menu > li.has-user > a:hover {
    background-color: #f7fafa;
}

.user-menu > li.has-user > a.active:hover {
    background-color: #fff;
}

.user-menu > li.has-user > a {
    border-left: solid 1px #d9d9de;
    border-right: solid 1px #d9d9de;
}

.user-menu > li > a img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.user-menu > li > a i {
    font-size: 14px;
    color: #000;
}

.user-menu .user-dropdown {
    width: 500px;
    background-color: white;
    border-color: #d9d9de;
    border-style: solid;
    border-width: 1px;
    position: absolute;
    right: 0;
    box-shadow: -2px 2px 2px rgba(0,0,0,0.05);
    z-index: 1000;
    display: none;
}

.user-menu .user-dropdown .user-options {
    padding: 20px;
}

.user-menu .user-dropdown .welcome {
    padding: 15px;
    color: #000;
}

.user-menu .user-dropdown .user-options ul {
    padding: 0;
    margin: 0;
}

.user-menu .user-dropdown .user-options label {
    font-size: 14px;
    color: #000;
}

.user-menu .user-dropdown .user-options ul.options li {
    font-size: 14px;
    margin: 10px 0;
}

.content-head {
    padding: 20px 0;
}

.content-head h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 10px;
}
.main-menu > li{
    border-left: 1px dotted #fff;
    border-right: 1px dotted #fff;
    transition: all 0.5s;
}

.bootstrap-datetimepicker-widget table td {
    height: 30px;
    line-height: 30px;
}

.bootstrap-datetimepicker-widget table td span {
    height: 30px;
    line-height: 30px;
}

.bootstrap-datetimepicker-widget table td.day {
    height: 30px;
    line-height: 30px;
    width: 40px;
}

.bootstrap-datetimepicker-widget table td.active {
    background-color: #279fbb;
}

.bootstrap-datetimepicker-widget .btn {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    height: auto;
}

h2.section-title {
  margin-bottom: 40px;
}

.project-card-list > h2 {

}

.project-card-list .project {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    transition:all 0.5s;
}

.project-card-list .project:hover {

    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.1);

}

.project-card-list .project .feature-image img {
    border-radius: 5px 5px 0 0;
}

.project-card-list .project .feature-content {
    padding: 22px 15px 75px 15px;
}

.project-card-list .project .project-info {
    height: 150px;
    padding: 0;
}

.project-card-list .project .project-status {
    position: absolute;
    padding: 0 10px;
    padding-top: 70px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 26%);
    border-radius: 0 0 6px 6px;
    left: 0;
    bottom: 0;
    width: 100%;
}

.project-card-list .project .project-stats {
    margin-bottom: 0;
    margin-top: 5px;
    padding: 0;
    padding-bottom: 5px;
}

.project-card-list .project .project-stats-value {
    color: #0f2105;
    font-weight: bold;
}

.project-card-list .project .project-stats-label {

}

.project-card-list .project .project-title {
    font-family: "Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: none;
    color: #292929;
}

/* Utilities classes */

.display-table {
    display: table;
    vertical-align: middle;
    width: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}
