/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  */
  .btn-discover{
  	background: transparent !important;
  	border-radius: 6px !important; 
  	border: 2px solid #279fbb !important;
  	color: #279fbb !important;
  	margin-top: 10px;
  	height: 31px !important;
  	transition:all 0.3s;
  }

  .btn-discover:hover{color: white !important;background:#279fbb !important }
  .discover-h1{font-size: 48px !important;line-height: 50px !important;}
  .no-border{border: none !important;}
  .best-project{border: 1px dotted #ddd;width: 1028px; }
  .left-image-container {
  	height: 400px ; 
  	overflow: hidden ;
  
  }
  .best-project .col-md-6{padding-left: 0;}
  .discover-left-info{
  	text-align: left ;
  	padding-left: 50px !important;
  }
  .project-of-the-day{margin-bottom: 40px;font-size: 20px;font-weight: bold;}
  .bg-blue{background: #279fbb;color: white;padding:5px 20px 5px 20px;line-height: 33px;}
  .mt30{margin-top: 30px !important}

