/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  */

.btn-discover {
    background: transparent !important;
    border-radius: 6px !important;
    border: 2px solid #279fbb !important;
    color: #279fbb !important;
    margin-top: 15px;
    height: 31px !important;
    transition: all 0.3s;
}

.btn-discover:hover {
    color: white !important;
    background: #279fbb !important
}

.discover-h1 {
    font-size: 48px !important;
    line-height: 50px !important;
}

.no-border {
    border: none !important;
}

.bg-blue {
    background: #279fbb;
    color: white;
    padding: 5px 20px 5px 20px;
    line-height: 33px;
}

.mt30 {
    margin-top: 30px !important
}

.discover-page {
    background-color: #fafcfc;
}

.icon {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#discover .categories .category {
    padding: 20px 0;
}

#discover .categories .category .content-box-text {
    padding-top: 20px;
}

#discover #categories,
#discover #staff_picked_projects,
#discover #featured_projects {
    padding: 40px 0;
}

#discover #staff_picked_projects {
    background: #f7fafa;
    border-width: 1px 0;
    border-style: solid;
    border-color: #d9d9de;
}

.slider-container .slider-nav {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #d9d9de;
    list-style: none;
    padding-left: 0;
}

.slider-container .slider-nav li {
    border-left: 3px solid transparent;
    line-height: 30px;
    margin-left: -1px;
    padding-left: 20px;
}

.slider-container .slider-nav li.selected {
    border-left: 3px solid #279fbb;
}

.slider-container .slider-nav li a {
    border-bottom: 1px solid transparent;
    padding-bottom: 1px;
    font-size: 14px;
}

.slider-container .slider-nav li.selected a {
    border-color: #279fbb;
    color: #279fbb;
}