/*
 *= require slider-revolution/src/css/settings
 *= require slick-carousel/slick/slick
 *= require slick-carousel/slick/slick-theme

 */

.fullwidthbanner-container {
    width: 100% !important;
    position: relative;
    max-height: 470px !important;
    overflow: hidden;
    background-image: url(../img/loader.gif);
    background-repeat: no-repeat;
    background-position: 50%;
    padding: 0;
}

.fullwidthbanner-container .caption {
    visibility: hidden;
}

.fullwidthbanner-container .revslider-initialised .caption {
    visibility: visible;
}

.tp-caption h3 {
    padding: 16px 10px 10px 10px;
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    background: #4e5b6c;
    font-family: "Open Sans Condensed";
    margin: 0;
}

.tp-caption h5 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #4E5B6C;
    text-shadow: 0 2px 5px rgba(255, 255, 255, 0.4);
    display: inline-table;
    font-weight: 300;
}

a {
    color: #279fbb;
    text-decoration: none;
    line-height: inherit;
}

body#home {
    position: relative;
}

#featured_projects {
    padding: 40px 0;
}


@media (max-width: 992px) {
    #featured_projects {
        padding: 20px 0 20px 0;
    }
}

#categories {
    padding: 50px 0;
}

#categories ul.categories {
    padding: 0;
    margin: 0;
}

#categories .category {
    width: 185px;
    display: inline-block;
    font-family: Roboto;
    font-size: 16px;
    line-height: 36px;
    cursor: pointer;
}

#categories .category i {
    color: #ffffff;
    background-color: #6a6a6a;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    -moz-border-radius: 12.5px;
    font-size: 14px;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

#categories .category:hover {
    color: #2eaef0;
}

#categories .category:hover i {
    background-color: #2eaef0;
}

#why_vnstarter {
    padding: 50px 0;
}

#why_vnstarter h1 {
    text-align: center;
    font-family: "Open Sans Condensed";
    font-weight: 700;
    font-size: 44px;
}

#why_vnstarter p {
    margin: 0 100px;
    text-align: center;
}

.text {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-size: 17px;

}

.tag {
    vertical-align: middle;

}

.content-box-text p {
    line-height: 32px;
}

.sub-nav > dd:hover {
    background-color: #f7fafa;

}

.sub-nav > dd:active {
    background-color: #00c0ef;

}

.content-box {
    text-align: justify;
}

