/*
 *
 *= require slick-carousel/slick/slick
 *= require slick-carousel/slick/slick-theme

 */

 .slider {
    position: relative;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 0;
    overflow: hidden;
}

.slider {
    padding: 0;
    max-height: 480px;
    height: 470px;
}

@media (max-width: 992px) {
    .slider {
        height: 300px;
    }
}

.slider .slick-list,
.slider .slick-track {
    height: 100%;
    zoom: 1;
}

.slide.warm-gradient:before {
    content: '';
    display: block;
    position: absolute;
    background-color: #393755;
    background-image: -webkit-linear-gradient(-370deg, #393755, #e29c7f);
    background-image: linear-gradient(100deg, #393755, #e29c7f);
    width: 100%;
    height: 100%;
    opacity: .77
}

.slide.cool-gradient:before {
    content: '';
    display: block;
    position: absolute;
    background-color: #314e5b;
    width: 100%;
    height: 100%;
    opacity: .58
}

.slider .lazy {
    background: 50% 50% no-repeat;
}

.slide div.caption {
    position: absolute;
    top: 85px;
    left: 120px;
    min-width: 0;
    min-height: 0;
    text-align: left;
}

.slide div.caption h2 {
    padding: 16px 10px 10px 10px;
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    background: #4e5b6c;
}

.slide div.caption h4 {
    color: #4E5B6C;
    text-shadow: 0 2px 5px rgba(255, 255, 255, 0.4);
    font-size: 20px;
}

.slide div.caption .btn {
    margin-right: 10px;
}

@media (max-width: 992px) {

    .slide div.caption {
        top: 40px;
        left: 20px;
    }

    .slide div.caption h2 {
        font-size: 28px;
        padding: 12px 8px 8px 8px;
    }

    .slide div.caption h4 {
        font-size: 16px;
    }
}

.slider .slick-dots {
    bottom: 25px
}

.slide div.text h2 {
    font-size: 50px;
    text-transform: none;
    color: #fff !important;
    font-weight: 400 !important;
    margin-bottom: 25px !important;
    line-height: 1.3 !important;
}

.slide div.text h4 {
    font-size: 21px !important;
    font-weight: 200 !important;
    line-height: 1.5 !important;
    color: #fff !important;
}

.jumbotron .slide div.text .button {
    margin-top: 30px !important;
    margin-bottom: 0;
}

a {
    color: #279fbb;
    text-decoration: none;
    line-height: inherit;
}

.slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
    margin-bottom: 0
}

.slick-dots li {
    position: relative;
    display: inline-block;
    height: 12px;
    width: 25px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer
}

.slick-dots li button {
    border: 0;
    background: 0 0;
    display: block;
    height: 12px;
    width: 25px;
    outline: 0;
    line-height: 0;
    font-size: 0;
    color: transparent;
    padding: 0;
    cursor: pointer
}

.slick-dots li button:focus, .slick-dots li button:hover {
    outline: 0
}

.slick-dots li button:focus:before, .slick-dots li button:hover:before {
    opacity: 1
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -6px;
    content: "";
    background: #cbcbcb;
    width: 12px;
    height: 12px;
    line-height: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .3)
}

.slick-dots li.slick-active button:before {
    background: #424242;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #424242), color-stop(100%, #2a2a2a));
    background: -webkit-linear-gradient(top, #424242 0, #2a2a2a 100%);
    background: -moz-linear-gradient(top, #424242 0, #2a2a2a 100%);
    background: -o-linear-gradient(top, #424242 0, #2a2a2a 100%);
    background: -ms-linear-gradient(top, #424242 0, #2a2a2a 100%);
    background: 0 0, top, #424242 0, #2a2a2a 100%;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF424242', endColorstr='#FF2A2A2A', GradientType=0);
    box-shadow: inset 1px 1px 5px rgba(255, 255, 255, .3), inset -1px -1px 3px rgba(0, 0, 0, .3)
}

div.sticky-nav {
    background: rgba(255, 255, 255, .9)
}

div.sticky-nav ul.sub-nav {
    margin: 0 auto !important;
    padding: 20px;
    text-align: center
}

div.sticky-nav ul.sub-nav li {
    margin: 0 2.5rem;
    float: none;
    display: inline-block
}

div.sticky-nav ul.sub-nav li a {
    text-transform: uppercase;
    font-family: "Open Sans";
    padding: 7px 15px;
    color: #515151;
    font-size: 14px;
    font-weight: bold;
}

div.sticky-nav ul.sub-nav li.active a {
    border-radius: 3px;
    background: #279fbb;
    cursor: default;
    color: #fff;
}

@media (max-width: 992px) {
    div.sticky-nav {
        visibility: hidden;
        display: none;
    }
}

body#home {
    position: relative;
}

#featured_projects {
    padding: 40px 0;
}

#why {
    background-position: 50% 14px;
    color: #fff;
    background: url(/images/img-blur-lead.jpg) 50% 0 no-repeat fixed;
}

@media (max-width: 992px) {
    #featured_projects {
        padding: 20px 0 20px 0;
    }

    #why {
        padding: 20px 0 20px 0;
    }
}

#why .bg-overlay {
    padding: 40px 0;
    background: rgba(0, 0, 0, 0.6);
}

#why h1 {
    margin-bottom: 40px;
    color: #fff;
}

#why p {
    font-size: 16px;
    color: #fff;
    font-family: "Open Sans";
}

#why .reason {
    margin: 0 10px;
}

#why .reason h4 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 400;
}

#why .reason p {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    font-family: "Open Sans";
}

@media (max-width: 992px) {
    #why .reason h4 {
        font-size: 18px;
    }

    #why {
        background: none;
    }
}

@media only screen and (min-width: 64.063em) {
    .large-10 {
        width: 83.33333%;
    }

    @media only screen and (min-width: 64.063em) {
        .large-10 {
            width: 83.33333%;
        }
    }
    @media only screen and (max-width: 320px) {
        .container, .col-md-4, .col-md-8 {
            width: 100%
        }

    }

    .border-bottom {
        border-bottom: 1px solid #ddd
    }

}

.text {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-size: 17px;

}

.tag {
    vertical-align: middle;

}
.content-box-text p{
    line-height: 32px;
}

.sub-nav > dd:hover{
    background-color: #f7fafa;
    
}
.sub-nav > dd:active{
    background-color: #00c0ef;

}
.content-box{
    text-align: justify;
}

