/*
 *= require slider-revolution/src/css/settings
 *= require slick-carousel/slick/slick
 *= require slick-carousel/slick/slick-theme

 */

.fullwidthbanner-container {
    width: 100% !important;
    position: relative;
    max-height: 470px !important;
    overflow: hidden;
    background-image: url(../img/loader.gif);
    background-repeat: no-repeat;
    background-position: 50%;
    padding: 0;
}

.fullwidthbanner-container .caption {
    visibility: hidden;
}

.fullwidthbanner-container .revslider-initialised .caption {
    visibility: visible;
}

.tp-caption h3 {
    padding: 16px 10px 10px 10px;
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    background: #4e5b6c;
    font-family: "Open Sans Condensed";
    margin: 0;
}

.tp-caption h5 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #4E5B6C;
    text-shadow: 0 2px 5px rgba(255, 255, 255, 0.4);
    display: inline-table;
    font-weight: 300;
}

a {
    color: #279fbb;
    text-decoration: none;
    line-height: inherit;
}

div.sticky-nav {
    background: rgba(255, 255, 255, .9)
}

div.sticky-nav ul.sub-nav {
    margin: 0 auto !important;
    padding: 20px;
    text-align: center
}

div.sticky-nav ul.sub-nav li {
    margin: 0 2.5rem;
    float: none;
    display: inline-block
}

div.sticky-nav ul.sub-nav li a {
    text-transform: uppercase;
    font-family: "Open Sans";
    padding: 7px 15px;
    color: #515151;
    font-size: 14px;
    font-weight: bold;
}

div.sticky-nav ul.sub-nav li.active a {
    border-radius: 3px;
    background: #279fbb;
    cursor: default;
    color: #fff;
}

@media (max-width: 992px) {
    div.sticky-nav {
        visibility: hidden;
        display: none;
    }
}

body#home {
    position: relative;
}

#featured_projects {
    padding: 40px 0;
}

#why {
    
}

@media (max-width: 992px) {
    #featured_projects {
        padding: 20px 0 20px 0;
    }

    #why {
        padding: 20px 0 20px 0;
    }
}

#why .bg-overlay {
    padding: 40px 0;
    background: rgba(0, 0, 0, 0.6);
}

#why h1 {
    margin-bottom: 40px;
    color: #fff;
}

#why p {
    font-size: 15px;
    color: #fff;
    font-family: "Open Sans";
}

#why .reason {
    margin: 0 10px;
}

#why .reason h4 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 400;
}

#why .reason p {
    color: #fff;
    font-weight: 400;
    font-family: "Open Sans";
}

@media (max-width: 992px) {
    #why .reason h4 {
        font-size: 18px;
    }

    #why {
        background: none;
    }

    #why p {
        font-size: 14px;
    }
}

.text {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-size: 17px;

}

.tag {
    vertical-align: middle;

}

.content-box-text p {
    line-height: 32px;
}

.sub-nav > dd:hover {
    background-color: #f7fafa;

}

.sub-nav > dd:active {
    background-color: #00c0ef;

}

.content-box {
    text-align: justify;
}

