#project_edit .tab {
    display: inline-block;
    float: none;
}

#edit-tabs {
    text-align: center;
    margin-top: 20px;
}

#project_edit .tab {
    border-left: 1px solid #e8e8e8;
}

#project_edit .tab.active {
    top: 3px;
    border-bottom: 1px solid #e8e8e8;;
}

#project_edit .tab.active a {
    line-height: 20px;
}

#project_edit .tabs-content {
    border: 0px;
    margin-top: 20px;
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

#project_edit .tabs-content > div {
    margin-top: 120px;
    border: 1px solid #e7e7e7;
    padding: 20px;
}

#project_edit .tabs-content .tab-guide {
    position: absolute;
    top: 10px;
    text-align: center;
    width: 100%;
}

.attachment_upload {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    border-radius: 6px;
    border: 1px dashed #d9d9de
}

.has_file .success, .attachment_upload.has_file .success {
    display: block
}

.has_file .success, .attachment_upload.has_file .success img {
    width: 100%;
}

.has_file .has_file_show, .attachment_upload.has_file .has_file_show {
    display: block
}

.has_file .has_file_hide, .attachment_upload.has_file .has_file_hide {
    display: none
}

.encoding .success, .attachment_upload.encoding .success {
    display: none
}

.encoding .upload strong, .attachment_upload.encoding .upload strong {
    display: none
}

.encoding .encode, .attachment_upload.encoding .encode {
    display: block
}

.uploading input.fileupload, .attachment_upload.uploading input.fileupload {
    display: none
}

.uploading .encode, .attachment_upload.uploading .encode {
    display: none
}



.uploading .upload .progress, .attachment_upload.uploading .upload .progress {
    display: block
}

.uploading .success, .attachment_upload.uploading .success {
    display: none
}

.uploading .upload strong, .attachment_upload.uploading .upload strong {
    display: none
}

.error, .attachment_upload .error {
    display: none;
    color: #fd003b;
    background: #ffecf0;
    padding: 10px;
    text-align: center
}

.attachment_upload .error .message {
    color: #fd003b;
}

.encode, .attachment_upload .encode {
    display: none
}

.footer, .attachment_upload .footer {
    display: none
}

.encode .image-placeholder, .attachment_upload .encode .image-placeholder {
    display: inline-block;
    background: url(/images/fileupload/encoding-placeholder.png) no-repeat;
    width: 100px;
    height: 80px;
    margin-left: 10px;
    display: none
}

.encode .message, .attachment_upload .encode .message {
    display: inline-block;
    text-align: left;
    padding: 30px 35px;
    width: 422px
}

.encode .message strong, .attachment_upload .encode .message strong {
    border: 0;
    color: #2bde73;
    margin-bottom: 5px;
    display: block;
    text-align: center;
    font-size: 16px
}

.encode .message P, .attachment_upload .encode .message P {
    color: #0f2105;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0
}

.success, .attachment_upload .success {
    display: none;
    float: none;
    vertical-align: top;
    position: relative;
    z-index: 2
}

.success h2, .attachment_upload .success h2 {
    font-size: 18px;
    margin-bottom: 5px
}

.success .image-clip, .attachment_upload .success .image-clip {
    position: relative;
    line-height: 1px
}

.success .image-clip img, .attachment_upload .success .image-clip img {
    margin: 0 auto;
    height: auto;
    width: 100%
}

.success .image-clip .remove, .attachment_upload .success .image-clip .remove {
    position: absolute;
    top: 5px;
    left: 5px
}

.upload, .attachment_upload .upload {
    position: relative;
    margin-bottom: 0;
    z-index: 1;
    height: auto;
    width: 100%
}

.upload strong, .attachment_upload .upload strong {
    display: block;
    font-size: 13px;
    padding: 20px;
    line-height: 18px;
    color: #00a0ff
}

.upload strong em, .attachment_upload .upload strong em {
    font-style: normal;
    text-transform: lowercase
}

.upload strong span, .attachment_upload .upload strong span {
    display: block;
    color: #828587;
    font-size: 11px;
    font-weight: normal
}

.attachment_upload:hover {
    background: #e8f6ff
}

.upload input.fileupload, .attachment_upload .upload input.fileupload {
    position: absolute;
    font-size: 60px;
    opacity: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    text-indent: -9999px;
    cursor: pointer
}

.upload .progress, .attachment_upload .upload .progress {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    border-radius: 0;
    background-color: #def7e0;
    margin-bottom: 0;
}

.upload .progress.finished, .attachment_upload .upload .progress.finished {
    background-color: #e8f6ff
}

.upload .progress.finished .inner, .attachment_upload .upload .progress.finished .inner {

}

.upload .progress.finished .bar, .attachment_upload .upload .progress.finished .bar {
    background: url(/images/fileupload/progress-processing.gif) repeat-x left center
}

.upload .progress .inner, .attachment_upload .upload .progress .inner {

    -webkit-background-clip: border-box;
    -moz-background-clip: border-box;
    -ms-background-clip: border-box;
    -o-background-clip: border-box;
    background-clip: border-box;
    overflow: hidden
}

.upload .progress .bar, .attachment_upload .upload .progress .bar {
    background: url(/images/fileupload/progress.gif) repeat-x left center;
    width: 0;
    height: 100%
}

.upload .progress .bar .percentage, .attachment_upload .upload .progress .bar .percentage {
    color: white;
    font-weight: bold;
    font-size: 45px;
    line-height: 80px;
    margin-left: 20px;
    text-align: left
}

.upload .progress .inner .percentage, .attachment_upload .upload .progress .inner .percentage {
    font-size: 30px;
    line-height: 68px
}

.profile-photo .success, .attachment_upload.profile-photo .success {
    float: left;
    width: 80px;
}

.profile-photo .success img, .attachment_upload.profile-photo .success img {
    width: 98%;
    border-radius: 50%;
}

.profile-photo .upload, .attachment_upload.profile-photo .upload {
    width: 369px;
    float: left;
    height: 78px;
    margin: 0 auto
}

.uploading.profile-photo .upload, .uploading .attachment_upload.profile-photo .upload {
    width: 100%;
}

.form-element ul {
    padding-left: 0;
}

.form-element input[type=text] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    line-height: 18px;
    width: 100%;
}

.form-element label {
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
    display: -moz-inline-box;
    display: -moz-inline-stack;
    -moz-box-orient: vertical;
    display: inline-block;
    zoom: 1;
    padding: 10px 5px 10px 10px;
}

body#projects_edit label {
    position: relative;
}

body#project_edit .form-element .options {

}

body#project_edit #rewards .add-new-reward {
    border-radius: 3px;
    border: 1px solid #d9d9de;
    background: #f2f2f3;
    position: relative;
}

body#project_edit #rewards .add-new-reward label {
    font-size: 12px;
    font-weight: normal;
    width: 130px;
    margin: 0;
}

body#project_edit #rewards .add-new-reward .keep-or-delete {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    background: #f7fafa;
    border-left: 1px solid #d9d9de;
    width: 75px;
    height: 38px;
}

body#project_edit #rewards .add-new-reward .keep-or-delete a {
    display: block;
    padding: 8px 10px;
    line-height: 24px;
    color: #0f2105;
}

body#project_edit #rewards .add-new-reward .minimum-amount {
    display: inline-block;
    vertical-align: top;
}

body#project_edit #rewards .add-new-reward .minimum-amount input {
    width: 99px;
    margin: -1px 0;
    border-color: #d9d9de;
}

body#project_edit #rewards .add-new-reward .description {
    display: inline-block;
    vertical-align: top;
    border-top: 1px solid #d9d9de !important;
    border-bottom: 1px solid #d9d9de !important;
}

body#project_edit #rewards .add-new-reward .description label {

    vertical-align: top;
}

body#project_edit #rewards .add-new-reward .description textarea {
    margin: -7px 0;
    margin-right: -1px;
    width: 376px;
    height: 100px;
    padding: 10px;
    resize: none;
    border-color: #d9d9de;
}

body#project_edit .tools {
    position: fixed;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    -ms-box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    -o-box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    margin-bottom: -100px;
    width: 100%;
    background-color: rgba(255,255,255,0.95);
}

body#project_edit .tools.visible {
    margin-bottom: 0
}

body#project_edit .tools .container {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px
}

body#project_edit .tools-panels,
body#project_edit .help-panels,
body#project_edit .sidebar-help-panels {
    list-style: none;
    margin-bottom: 0
}

body#project_edit .tools-panels li,
body#project_edit .help-panels li,
body#project_edit .sidebar-help-panels li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0
}

body#project_edit .tools-panels .form-tools div  {
    display: inline-block;
}

body#project_edit .tools-panels .form-tools div a.btn {
    margin: 0 10px 4px 10px;
}

div.modal_dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    background-color: rgba(255,255,255,0.9);
}

div.modal_dialog_outer {
    display: table;
    margin: 0 auto;
    height: 100%
}

div.modal_dialog_sizer {
    display: table-cell;
    vertical-align: middle
}

div.modal_dialog_head {
    border-radius: 6px 6px 0px 0px;
    background-color: rgba(217,217,222,0.2);
    position: relative
}

div.modal_dialog_head h4 {
    font-size: 14px;
    padding: 20px;
    padding-right: 50px;
    border-bottom: 1px solid #d9d9de;
    margin-bottom: 0px
}

div.modal_dialog_head a.modal_dialog_close {
    font-size: 14px;
    margin-bottom: 10px;
    color: #828587;
    position: absolute;
    right: 0;
    top: 0px;
    padding: 20px;
    margin: 0
}

div.modal_dialog_body {
    border-radius: 0px 0px 6px 6px;
    border-top: 0;
    background-color: white;
    padding: 30px;
    overflow: hidden
}

div.modal_dialog_body div.error_messages {
    border: none;
    padding: 0 0 10px 0;
    margin: 0 0 20px 0
}

div.modal_dialog_body div.error_messages ul {
    padding: 5px 0 0 30px
}

div.modal_dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    background-color: rgba(255,255,255,0.9)
}

div.modal_dialog.spinning div.modal_dialog_content {
    border-radius: 0px;
    border: 0;
    background: transparent url(loading-big.gif) no-repeat center center;
    width: 50px;
    height: 50px
}

div.modal_dialog.spinning div.modal_dialog_content div.modal_dialog_head,div.modal_dialog.spinning div.modal_dialog_content div.modal_dialog_body,div.modal_dialog.spinning div.modal_dialog_content div.modal_dialog_footer {
    display: none
}

div.modal_dialog_body div.footer .cancel {
    margin: 0 0 0 10px
}

div.modal_dialog_body div.footer .cancel a {
    color: #828587
}

div.modal_dialog_content {
    border-radius: 6px;
    border: 1px solid #d9d9de;
    background-color: white;
    overflow: hidden
}

div.modal_dialog_content .container-flex {
    max-width: 832px
}

div.modal_dialog_body label {
    margin-top: 0px
}

#project_edit #story .story-posts {
    padding: 5px 0 20px 0;
}

#project_edit #story .story-posts .post {
    background: #ffffff;
    border: 1px dashed #d9d9de;
    padding: 20px;
    margin-bottom: 10px;
}

#project_edit #story .story-posts .post img {
    width: 100%;
}

#add-reward .errors,
#add-story-post .errors {
    text-align: left;
}

#add-reward .errors ul,
#add-story-post .errors ul {
    padding: 10px 20px 0;
}

#project_pledge .project-head,
#project_show .project-head {
    padding-top: 20px;
}

#project_pledge .project-head h6,
#project_show .project-head h6 {
    font-family: Helvetica, Arial, Sans-Serif;
}

#project_show .project-overview .video-container {

    padding-right: 20px;
}

#project_show .project-overview .buttons .btn + .btn {
    margin-left: 10px;
}

#project_show .creator h5 {
    font-weight: bold;
    color: #000;
    font-family: Helvetica, Arial, Sans-Serif;
}

#project_show .creator p a {
    color: #00a0ff;
    font-weight: bold;
    margin-right: 10px;
}

#project_show .project-nav {
    border-width: 1px 0;
    border-style: solid;
    border-color: #d9d9de;
}

#project_show .project-content {
    padding: 40px 0;

}

#project_show #show-tabs li a {
    border-radius: 0px;
}

#project_show #show-tabs {
    border-bottom: none;
}

#project_show #show-tabs > li.active > a,
#project_show #show-tabs > li.active > a:hover,
#project_show #show-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border-bottom: 3px solid #279fbb;
}

#project_show #show-tabs li:not(.active) a:hover {
    background-color: #fff;
    border-width: 0px;
}

#project_show .story-posts {
    padding: 5px 0 20px 0;
}

#project_show .story-posts .post {
    background: #ffffff;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}

#project_show .story-posts .post h2 {
    padding-bottom: 15px;
}

#project_show .story-posts .post p {
    font-size: 16px;
    color: #000;
    line-height: 24px;
    text-align: justify;
}

#project_show .story-posts .post img {
    width: 100%;
}

#project_show .rewards .reward {
    margin: 20px 0;
    padding: 10px;
    background-color: #f7fafa;
    border-radius: 5px;
}

#project_show .rewards .reward h5 {
    font-weight: bold;
    font-family: Helvetica, Arial, Sans-Serif;
}

#project_show .comments .comment {
    height: 80px;
}

#project_show .comments .comment img {
    width: 60px;
    height: 60px;
}

#project_pledge .project-content .main {
    border: 1px solid #d9d9de;
    border-radius: 5px;
    padding: 20px;
}

#project_pledge .project-content .main .pledge_amount {
    font-size: 20px;
    font-weight: bold;
}

#project_pledge .project-content .main .rewards {
    margin: 20px 0;
    border: 0;
    padding: 0;
}

#project_pledge .project-content .main .rewards .reward {
    display: block;
    background: #fff;

    border-bottom: 1px solid #d9d9de;
    cursor: pointer;
}

#project_pledge .project-content .main .rewards .reward:last-child {
    border-bottom: 0px;
}

#project_pledge .project-content .main .rewards .reward label {
    font-weight: normal;
    display: inline-block;
    cursor: pointer;
    margin-right: 40px;
    margin-bottom: 0px;
    padding: 30px 10px;
    width: 250px;
}

#project_pledge .project-content .main .rewards .reward strong {
    font-size: 16px;
}

#project_pledge .project-content .main .rewards .reward input[type=radio] {

    margin-right: 5px;
}

#project_pledge .project-content .main .rewards .reward:hover,
#project_pledge .project-content .main .rewards .reward.selected {
    background: #f5f5f5;
}

.circle {
    border-radius: 50%;
}