#sign_in form .errors,
#sign_up form .errors {
    padding: 10px 5px;
    list-style-type: disc;
}

form .field_with_errors input.form-control {
    border: 1px solid #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

#profile_overview .profile-avatar {
    padding: 10px;
}

#profile_overview .profile-avatar img {
    width: 100%;
}

#profile_overview .profile-user-info h2 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 30px;
}

#profile_overview .profile-user-info a.location {

}

#profile_overview .profile-user-info a.location i {
    vertical-align: middle;
    font-size: 16px;
    margin-right: 5px;
}

#profile_overview .profile-user-info p {
    margin: 20px 0;
    font-size: 16px;
}