#sign_in form .errors,
#sign_up form .errors {
    padding: 10px 5px;
    list-style-type: none;
}

form .field_with_errors input.form-control {
    border: 1px solid #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
