#sign_in form .errors,
#sign_up form .errors {
    padding: 10px 5px;
    list-style-type: disc;
}

form .field_with_errors input.form-control {
    border: 1px solid #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.profile-overview {
    border-bottom: 1px solid #d9d9de;
}

#profile_show #profile_avatar {
    padding: 20px 10px;
}

#profile_show #profile_avatar img {
    width: 100%;
    border-radius: 10px;
}

#profile_show #profile_bio {
    padding: 20px 10px;
}

#profile_show #profile_bio h2 {
    font-weight: bold;
}

#profile_show #profile_bio p {
    font-size: 16px;
    padding-bottom: 10px;
}

#profile_show #profile_bio p span {
    display: inline-block;
}

#profile_show #profile_bio p span.separator {
    padding: 0 5px;
}

#profile_show #profile_bio p a {
    font-size: 14px;
    color: #279fbb;
}

@media (max-width: 992px) {
    #profile_show #profile_bio p {
        font-size: 14px;
    }
}