<!DOCTYPE html>
<html>
<head>
  <title>Kickstarter</title>
  <script src="https://code.jquery.com/jquery-2.1.3.min.js" type="application/javascript"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
